.desktop-body {
    position: relative;
    overflow: hidden;
}

.background-img {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/background.jpeg");
    background-repeat: no-repeat;
    filter: opacity(1) grayscale(50%);
}

/* Terminal */
.terminal-container {
    position: absolute;
    top: 1%;
    left: 3%;
    width: 600px;
    height: 700px;
    border: solid 1px #c0c0c0;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
    opacity: 1;
}

.terminal-header {
    position: relative;
    width: 100%;
    color: black;
    background-color: #c0c0c0;
    text-align: center;
    cursor: move;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    transform: translate(0, -50%);
    cursor: pointer;
}

.terminal-body {
    width: 100%;
    height: 100%;
    color: #c0c0c0;
}

.terminal-input {
    border: none;
    color: #c0c0c0;
    background-color: transparent;
    font-size: 15px;
}
.terminal-input:focus {
    outline: none;
}

/* txt */
.txt-container {
    position: absolute;
    top: 10%;
    right: 3%;
    width: 600px;
    height: 700px;
    border: solid 1px #c0c0c0;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
    opacity: 1;
}

.txt-header {
    position: relative;
    width: 100%;
    color: black;
    background-color: #c0c0c0;
    text-align: center;
    cursor: move;
}

.txt-body {
    color: black;
}

p {
    width: 100%;
    margin: 0 4px;
}

/*popup*/
.popup-container {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 300px;
    height: 200px;
    border: solid 1px #c0c0c0;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999999;
    transform: translate(0, -50%);
    opacity: 1;
}

.popup-header {
    position: relative;
    width: 100%;
    color: black;
    background-color: #c0c0c0;
    text-align: center;
    cursor: move;
}

.popup-body {
    color: black;
}

/* Folder */
.folder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 100px;
    transition: all 0.3s ease-in-out;
}

.folder-img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(205deg)
        brightness(106%) contrast(97%);
}

.folder-description {
    margin-top: -12px;
    color: white;
}

/* Taskbar */
.taskbar-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    z-index: 99999;
    background: linear-gradient(135deg, #375861, #365d57);
    gap: 12px;
}

.taskbar-icon {
    width: 80px;
    height: 100%;
    padding: 12px;
    transition: all 0.3s ease-in-out;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(205deg)
        brightness(106%) contrast(97%);
}

.clickable:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.transparent {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}
